.header {
  position: relative;
  width: 100%;
  background-color: #252934;
  height: 100vh;
  scroll-snap-align: start;

  &__h1 {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: var(--main-text);
    @include mobile {
      text-align: center;
    }
  }
  &__container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    height: 100%;
  }
  &__text {
    max-width: 510px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: var(--main-text);

    @include mobile {
      text-align: center;
    }

    &_akc {
      color: var(--second-text);
    }
  }
  &__wrap {
    padding: 0 15px;
  }
  &__nav {
    position: relative;
    z-index: 1;
    padding: 20px 10px 0 0;

    @include mobile {
      display: none;
    }
  }
  &__cv {
    position: relative;
    display: flex;
    align-items: flex-end;
    color: var(--second-text);

    &::before {
      position: absolute;
      left: 2px;
      bottom: -5px;
      background-color: var(--main-text);
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      transition: width 0.3s ease-in-out;
    }
    &:hover:before {
      width: 100%;
    }
  }

  &__social {
    align-self: center;
  }

  &__social-wrap {
    margin-top: 20px;
    width: 100%;
    gap: 250px;
    display: flex;
    justify-content: center;

    @include mobile {
      gap: 50px;
    }
  }
  &__main-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* анимация */
#canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  // .nav__list
  &__list {
    display: flex;
    justify-content: flex-end;
    color: var(--main-text);
    gap: 20px;
  }
  // .nav__item
  &__item {
    color: inherit;

    &:hover {
      outline: 2px solid var(--main-text);
    }
  }
  // .nav__link
  &__link {
    display: block;
    padding: 5px;
    color: inherit;

    @include mobile {
      font-size: 24px;
    }

    &_bold {
      font-weight: 700;
    }

    &:focus {
      outline: 2px solid var(--main-text);
    }
  }
}

.social {
  display: flex;
  gap: 20px;
  // .social__item
  &__item {
  }
  // .social__link
  &__link {
  }
  // .social__link--fb
  &__link--git {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../../img/svg/Icons-github.svg);
  }
  // .social__link--vk
  &__link--inst {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../../img/svg/Icons-instagram.svg);
  }
  // .social__link--tw
  &__link--tw {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../../img/svg/Icons-twitter.svg);
  }
}

.burger {
  @include burger;
  display: none;
  color: var(--main-text);
  z-index: 2;

  @include mobile {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
  }
}
.menu--active {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #050d1a;
}
.menu--active .nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

