.main {
  background-color: #050d19;
  height: 100vh;
  padding: 50px 0;
  color: var(--main-text);
  scroll-snap-align: start;

  // .main__container
  &__container {
  }
  // .main__header
  &__header {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    margin-bottom: 50px;
  }
  // .main__content
  &__content {
  }
  // .main__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // .main__item
  &__item {
  }
}


.card {
  width: 400px;
  display: flex;
  flex-direction: column;

  // .card__image
  &__image {
  }
  // .card__img
  &__img {
  }
  // .card__content
  &__content {
  }
  // .card__title
  &__title {
  }
  // .card__technologic-tags
  &__technologic-tags {
  }
  // .card__desc
  &__desc {
  }
  // .card__buttons
  &__buttons {
  }
  // .card__code
  &__code {
  }
  // .card__demo
  &__demo {
  }
}
.tag {
}
