<header class="header" id="header">
   <canvas id="canvas" width="1280" height="963"></canvas>

   <div class="container header__container">
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
         <span class="burger__line"></span>
      </button>
      <nav class="header__nav nav" title="" data-menu>
         <ul class="nav__list list-reset">
            <li class="nav__item" data-menu-item><a href="#header" class="nav__link nav__link_bold">Home</a></li>
            <li class="nav__item" data-menu-item><a href="#projects" class="nav__link">Projects</a></li>
            <li class="nav__item" data-menu-item><a href="#about" class="nav__link">About me</a></li>
            <li class="nav__item" data-menu-item><a href="#contacts" class="nav__link">Contact</a></li>
         </ul>
      </nav>
      <div class="header__main-wrap">
         <div class="header__wrap">
            <h1 class="header__h1">I’m Alex Nikolaenko</h1>
            <p class="header__text"><span class="header__text_akc">Frontend Developer and Designer.</span> I learn and
               teach
               everything about Web Technologies and Product Design.</p>
         </div>
         <div class="header__social-wrap">
            <ul class="header__social social list-reset" title="social on main page">
               <li class="social__item"><a href="#" target="_blank" class="social__link social__link--git"
                     aria-label="Наша страничка в Фейсбуке"></a></li>
               <li class="social__item"><a href="#" target="_blank" class="social__link social__link--inst"
                     aria-label="Наша страничка во Вконтакте"></a></li>
               <li class="social__item"><a href="#" target="_blank" class="social__link social__link--tw"
                     aria-label="Наша страничка в Твиттере"></a></li>
            </ul>
            <a href="#" class="header__cv">
               <img class="header__cv-icon" src="../img/svg/paper-clip.svg" alt="paper-clip" />
               Download CV</a>
         </div>
      </div>
   </div>
</header>
