<main class="main">
  <div class="main__container container">
    <h2 class="main__header">Latest Projects</h2>
    <div class="main__content">
      <ul class="main__list list-reset">
        <li class="main__item">
          <div class="card">
            <div class="card__image">
              <img src="#" alt="card-title" class="card__img">
            </div>
            <div class="card__content">
              <h3 class="card__title">Лэндинг по продаже жалюзи</h3>
              <div class="card__technologic-tags">
                <div class="tag">HTML</div>
                <div class="tag">CSS</div>
                <div class="tag">JavaScript</div>
                <div class="tag">Git</div>
                <div class="tag">JQuery</div>
              </div>
              <div class="card__desc"></div>
              <div class="card__buttons">
                <a href="" class="card__code">Code</a>
                <a href="" class="card__demo">Demo</a>
              </div>
            </div>
          </div>
        </li>
        <li class="main__item">
          <div class="card">
            <div class="card__image">
              <img src="#" alt="card-title" class="card__img">
            </div>
            <div class="card__content">
              <h3 class="card__title">Лэндинг по продаже жалюзи</h3>
              <div class="card__technologic-tags">
                <div class="tag">HTML</div>
                <div class="tag">CSS</div>
                <div class="tag">JavaScript</div>
                <div class="tag">Git</div>
                <div class="tag">JQuery</div>
              </div>
              <div class="card__desc"></div>
              <div class="card__buttons">
                <a href="" class="card__code">Code</a>
                <a href="" class="card__demo">Demo</a>
              </div>
            </div>
          </div>
        </li>
        <li class="main__item">
          <div class="card">
            <div class="card__image">
              <img src="#" alt="card-title" class="card__img">
            </div>
            <div class="card__content">
              <h3 class="card__title">Лэндинг по продаже жалюзи</h3>
              <div class="card__technologic-tags">
                <div class="tag">HTML</div>
                <div class="tag">CSS</div>
                <div class="tag">JavaScript</div>
                <div class="tag">Git</div>
                <div class="tag">JQuery</div>
              </div>
              <div class="card__desc"></div>
              <div class="card__buttons">
                <a href="" class="card__code">Code</a>
                <a href="" class="card__demo">Demo</a>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</main>
